<div class="auth-container">
  <h3>Login</h3>
  <form {{action 'authenticate' on='submit'}} class="auth-container">
    {{input placeholder='Username' value=identification}}
    {{input type="password" placeholder='Password' value=password}}
    <button type="submit">Login</button>
    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}
  </form>

  <p>Don't have an account? {{link-to 'Signup' 'signup'}}</p>

</div>
